h1 {
  font-size: 50px;
  line-height: 60px;
}
h3 {
  font-size: 20px;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #faf7f2;
}

.fa-search {
  color: #faf7f2;
}
.btn-outline-secondary {
  border-color: #cfcbc3;
}

.container,
.current,
.today-date-temp,
.day {
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
}
.day:hover {
  cursor: pointer;
}
.container {
  max-width: 50%;
  padding: 0 30px;
  margin-top: 30px;

  background: radial-gradient(
    circle at 52.1% -29.6%,
    rgb(144, 17, 105) 0%,
    rgb(51, 0, 131) 100.2%
  );
  color: #faf7f2;
}

.current,
.today-date-temp {
  padding: 30px;
}

.current {
  font-size: 60px;
}
.today-date-temp {
  margin: 50px 0 40px 0;
}
.weather-icon {
  font-size: 40px;
}
.day {
  margin: 10px 0;
}

.current-temp {
  font-size: 55px;
  font-weight: 400;
  line-height: 60px;
  padding-top: 30px;
}
.current-temp-unit {
  font-size: 34px;
  position: relative;
  top: -25px;
  padding-left: 5px;
  font-weight: lighter;
}
.today-temperature {
  font-size: 24px;
  display: block;
  text-align: center;
  padding-left: 20px;
}
.description {
  font-size: 26px;
  font-weight: normal;
  padding-top: 10px;
}
.next-days {
  text-align: center;
  max-width: 180px;
  margin-bottom: 15px;
}
.search-bar {
  max-width: 85%;
  margin-top: 20px;
  left: 30px;
  border-color: white;
}
.high {
  font-weight: bold;
}

.icon,
.date-and-time {
  color: #f6e5e5;
}
.search-button {
  padding: 0 20px;
}

.search-button:hover > .fa-search {
  color: black;
}
.source-code {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}
.code-link {
  color: rgb(36, 34, 34);
}
#current-weather-icon {
  float: right;
  width: 135px;
}
.today-temp-unit {
  font-weight: lighter;
}
